<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRUD Application</title>
 <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='images/sms.jpg') }}">
</head>
<body>
<div class="container">
    <div class="p-3 border rounded text-center shadow-lg mb-4" style="background-color:#191970; color:white;">
        <h1>Python Flask CRUD Web Application Development</h1>
    </div>



    <div class="container">
  <div class="row align-items-center">

    <!-- Left Side -->
    <div class="col">
      <h2>Student List</h2>
    </div>

    <!-- Right Side -->
    <div class="col text-end">
      <h6>No. of Students: {{count}} </h6>

      <button type="button"  class="btn btn-success mt-2" data-bs-toggle="modal"  data-bs-target="#myModal"> Add Student Data </button>



    </div>

  </div>
</div>
     <!-- Flash Messages -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show mt-3" role="alert" style="background-color:#d4edda; color:#155724; border-color:#c3e6cb;">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}



       <table class="table table-striped table-hover mt-2">

    <tr>
        <th>Roll No.</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Action</th>
    </tr>

    {% for row in students %}
    <tr>
        <td>{{ row.0 }}</td>
        <td>{{ row.1 }}</td>
        <td>{{ row.2 }}</td>
        <td>{{ row.3 }}</td>
        <td>
            <a href="/update/{{row.0}}" class="btn btn-warning btn-xs" data-bs-toggle="modal" data-bs-target="#modaledit{{row.0}}">Edit</a>
            <a href="/delete/{{row.0}}" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure to delete?' )" >Delete</a>
        </td>
    </tr>



<!--Modal second-->
<div id="modaledit{{row.0}}" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Update Data</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <form action="{{ url_for('update') }}" method="POST">

                    <input type="hidden" name="id" value="{{row.0}}">

                    <div class="form-group">
                        <label>Name:</label>
                        <input type="text" class="form-control" name="name" value="{{row.1}}">
                    </div>

                    <div class="form-group">
                        <label>Email:</label>
                        <input type="text" class="form-control" name="email" value="{{row.2}}">
                    </div>

                    <div class="form-group mb-3">
                        <label>Phone:</label>
                        <input type="text" class="form-control" name="phone" value="{{row.3}}">
                    </div>

                    <button class="btn btn-primary" type="submit">Update</button>
                </form>
            </div>

        </div>
    </div>
</div>
    {% endfor %}

</table>
  </div>   <!-- col-md-12 -->
</div>   <!-- row -->
</div>
</div>
        </div>




<!--Modal first-->
 <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
       <div class="modal-content">
         <div class="modal-header">

             <h4 class="modal-title float-center">Please Insert Data</h4>
             <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

         </div>
         <div class="modal-body">
             <form action="{{ url_for('insert') }}" method="POST">
                 <div class="form-group">
                     <label>Name:</label>
                     <input type="text" class="form-control" name="name" required="1">
                 </div>
                 <div class="form-group">
                     <label>Email:</label>
                     <input type="email" class="form-control" name="email" required="1">
                 </div>
                 <div class="form-group mb-3">
                     <label>Phone:</label>
                     <input type="text" class="form-control" name="phone" required="1">
                 </div>
                 <div class="form-group">
                     <button class="btn btn-primary" type="submit" >Insert Data</button>
                 </div>
             </form>
         </div>

           <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

           </div>
       </div>




    </div>
</div>




    <div class="p-3 border rounded d-flex justify-content-between">
        <span>Website: www.anamolly.com</span>
        <span>Like Us: www.facebook.com</span>
    </div>
</div>
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</html>